{% extends 'base.html.twig' %}

{% block body %}

    <section class="widget">
        <header>

            <h4>Player progress <small>skills</small></h4>

        </header>
        <div class="body">

            <table class="table table-striped no-margin sources-table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Player</th>
                    <th>K/D</th>
                    <th>Kills</th>
                    <th>Deaths</th>
                    <th>Shots</th>
                    <th>Hits</th>
                </tr>
                </thead>
                <tbody>
                {% for player in players | reverse %}
                    <tr>
                        <td>{{ player.fetchedAt | date}}</td>
                        <td>{{ player.player.name|e }}</td>
                        <td>{{ player.stats.killDeathRatio|e }}</td>
                        <td>{{ player.stats.kills|e }}</td>
                        <td>{{ player.stats.deaths|e }}</td>
                        <td>{{ player.stats.shotsFired|e }}</td>
                        <td>{{ player.stats.hitsMade|e }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </section>
{% endblock %}

